* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1em;
  /* font-family: "Courier New", Courier, monospace; */
  background: ghostwhite;
  /* border: 5px solid gray; */
}
#area-cabecalho {
  background: linear-gradient(120deg, #0011f3d8, #02c8ebda);
  padding: auto;
  text-align: center;
  padding: 8px 12px;
  
}
#area-cabecalho a:hover {
  color: #1900f7;
  background: white;
  text-decoration: none;
  border-radius: 40%;
}
#inicio{
  color: aliceblue;
}
#area-logo,
#area-menu {
  padding: 10px;
  color: aliceblue;
}
#area-principal {
  text-align: center;
  padding: 5px;
  width: 600px;
  margin: auto;
}

#area-postagens {
  width: 500px;
  margin: 50px;
  padding:10px;
  margin-bottom: 20px;
  background: rgb(235, 238, 250);
  border-radius: 5%;

  /* float: left; */
}

#rodape {
    font-family: 'Courier New', Courier, monospace;
  text-align:center;
  padding: 15px;
  font-size: 0.8em;
}

h1{
    font-size: 2.5em;
}
p{
    font-size: 1em;
}
a{
    text-decoration: none;
    margin: 5px;
    color: aliceblue;
    font-size: larger;
    transform: scale(1.5);
}


